<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h5 id="newh1">{{s[1]}}</h5>
    <h4>{{s}}</h4>
    <h4>{{r}}</h4>

    <p id="demo"></p>

    <script>
    const text = '[ "Ford", "BMW", "Audi", "Fiat" ]';
    const myArr = console.log(JSON.parse({s}));
    document.getElementById("newh1").innerHTML = myArr[0];
    </script>
</body>

</html>